.category-image {
    height: 80px;
    width: 80px;
    margin-top: 2%;
    border-radius: 20px;
}

.add-new-button {
    font-size: 20px;
    color: white;
    border: 9px solid #ff6127;
    background: #ff6127;
}

.close-button {
    color: #ff6127;
    border: none;
    background: none;
    font-size: 20px;
    float: right;
}