* {
  box-sizing: border-box;
}

.search-input {
  padding: 15px;
  font-size: 14px;
  border: 1px solid #bbbb;
  width: 15%;
  background: #f1f1f1;
  margin-left: 5%;
  margin-bottom: 3%;
}

.search-input:focus {
  outline: none;
}

.search-span {
  width: 5%;
  padding: 16px;
  background: #ff6127;
  color: white;
  font-size: 12px;
  margin-bottom: 3%;
  border: 1px solid #bbbb;
  border-left: none;
  cursor: pointer;
}

.search-span:hover {
  background: #f97241;
}

.remove-button {
  border: none;
  background-color: white;
  color: #ff6127;
  font-size: 30px;
}

.add-ingredient {
  font-size: 17px;
  padding: 15px;
  border: 1px solid grey;
  background: white;
  border: none;
  margin-top: 5%;
}

.add-ingredient-button {
  width: 4%;
  padding: 14px;
  background: white;
  color: black;
  font-size: 21px;
  border: 1px solid grey;
  border: none;
  cursor: pointer;
}

.quantity {
  width: 10%;
  padding: 15px;
  margin-right: 2%;
  border: 1px solid black;
}

.quantity:invalid {
  border: 1px solid red;
}

.a-back {
  text-decoration: none;
  color: #ff6127;
  font-size: 150%;
  margin-left: 5%
}

.a-next {
  text-decoration: none;
  color: #ff6127;
  font-size: 150%;
  margin-left: 70%
}

.ingredient-image {
  height: 50px;
  width: 50px;
  margin-top: 2%;
}

.select-style {
  border: none;
  font-size: 17px;
}